.sources {
    display: flex;
    flex-direction: column;
}

.sourceToggle {
    border-width:0;
    padding: 10px;
    margin: 5px;
    border-radius:5px;
}

.sourceToggle:focus {
    outline-width: 0
}